/* Reset___________________________________ */
* {
	margin: 0;
	padding: 0;
	/* Variables_____________________________ */
	--color-primary: #272a31;
	--color-secondary: #ec5242;
	--color-tertiary: #d3d3d3;
	font-family: 'Lato', sans-serif;
}

html {
	overflow-x: hidden;
}

/* Global__________________________________ */
#navbar {
	width: 100vw;
  height: 50px;
	display: flex;
	align-items: center;
}

#hero {
	position: absolute;
	top: 0;
	z-index: -1;
	overflow: hidden;
	padding-bottom: 40px;
}

#bg {
	opacity: 10%;
	position: absolute;
	z-index: -1;
}

#title-small {
	margin-top: 100px;
	margin-left: 5vw;
	color: var(--color-secondary);
	font-weight: 100;
	font-size: 28px;
	text-align: center;
}

#title {
	margin-left: 5vw;
	font-size: 35px;
	font-weight: 800;
	line-height: 33px;
	color: var(--color-secondary);
	text-align: center;
}

#intro {
	border: 1px solid rgb(128, 128, 128, 0.6);
	margin: 20px 5vw 0 5vw;
	padding: 20px;
	background-color: white;
	text-align: center;
}

#date {
	margin: 20px 15vw 0 15vw;
	color: rgb(88, 88, 88);
	text-align: center;
}

#address {
	margin: 0 5vw 0 5vw;
	color: #272a31;
	font-weight: bold;
	text-align: center;
}

#logo-sec {
	position: absolute;
	top: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

#logo-sec-title {
	font-weight: bold;
	margin-top: 40px;
}

#logo-sec-hr {
	background-color: var(--color-secondary);
	width: 7vw;
	height: 2px;
	margin-top: 20px;
}

#logo-sec-desc {
  text-align: center;
	margin-top: 20px;
}

#logo-sec-img {
	width: 80vw;
	margin-top: 50px;
	border: 1px solid rgb(0,0,0,0.3);
	height: 100px;
	object-fit: contain;
	margin-bottom: 40px;
}

#history-sec {
	position: absolute;
	top: 820px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding-top: 30px;
}

#history-sec-hr {
	width: 10vw;
	height: 2px;
	background-color: var(--color-secondary);
	margin: 20px 0 20px 0;
}

#history-sec-desc {
	text-align: center;
	margin: 0 13vw;
}

.history {
	background-image: url('./artwork/images/men2.jpg');
	background-position: 50% 50%;
	background-size: 80vw;
	background-repeat: no-repeat;
	margin: 20px 10vw;
	width: 80%;
	height: 300px;
}

.history-text {
	display: flex;
	font-weight: bolder;
	color: white;
	flex-direction: column;
  width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(204, 59, 43, 0.7);
	text-align: center;
	font-size: 50px;
}

.history-text-span {
	font-size: 20px;
	margin: 15px 13vw;
}

#partner-sec {
	border: 2px solid purple;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #272a31;
	overflow: hidden;
	margin-top: 30px;
}

#partner-sec-title {
	color: white;
	size: 24px;
	font-weight: bold;
	margin-top: 35px;
	font-size: 30px;
}

#partner-sec-hr {
	width: 10vw;
	height: 2px;
	background-color: #ec5242;
	margin-top: 12px;
}

#partners {
	width: 90vw;
	margin: 50px 5vw 70px 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.partner-logo {
	width: 25vw;
	margin-right: 30px;
	margin-bottom: 10px;
}

#a-foot {
	width: 100vw;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 20vw 0 20vw;
}

#a-foot-desc {
  font-size: 16px;

}

#a-foot-img {
  width: 20vw;
}

/* Mobile___________________________________ */
@media only screen and (max-width: 768px) {
  #navbar {
		padding-top: 7px;
	}

	#burger-ph {
		margin-left: 25px;
	}
	
	.bar {
		width: 40px;
		height: 6px;
		background-color: var(--color-primary);
		transition-duration: 300ms;
		margin-bottom: 7px;
	}
}